@font-face {
    font-family: 'e1234';
    src: url('/font/E1234.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: grey;
}

main {

    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    justify-content: space-around;
    width: 36rem;
    height: 39rem;
    background-color:#1B244A;
    gap:1rem;
}

main section h3{
    font-family: Verdana;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    text-decoration-skip-ink: none;
    margin:0 auto;
    color:#EEEEEE;
}

.digital-number
{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 10rem;
    margin-top: 1rem;
    border-radius: 5px;
    background-color: #080001;
    border: 2px #9AABD8 solid;

}

#home-number, #guest-number
{
    display: block;
    font-family: e1234;
    font-size: 90px;
    font-weight: 400;
    color: aqua;
}

.incrementor
{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    gap:.5rem
}

.incrementor button
{
    cursor: pointer;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 5px;
    border: 2px #9AABD8 solid;
    background-color: #1B244A;
    opacity: 0px;
    color:white;

}
.incrementor button:hover
{
    background-color: #262f5a;
}
.incrementor button:active
{
    background-color: #1B244A;
}


.incrementor button p
{
    padding:  9.5px;
    font-family: e1234;
    font-size: larger;
    height: auto;
    width: 100%;
    height: 100%;
}

.counter-container
{
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: e1234;
    font-size: 2rem;
    font-weight: 400;
    

    color: aqua;
}

.home
{
    display:flex;
    flex-direction:column;
    align-items: center;
    width: 45%;

}
.guest
{
    display:flex;
    flex-direction:column;
    align-items: center;
    width: 45%;
}

#start-btn,#pause-btn,#reset-btn
{
    margin-top: 1.5rem;
    cursor: pointer;
    align-items: center;
    padding: 1rem;
    font-size: large;
    border-radius: 5px;
    border: 2px #9AABD8 solid;
    background-color: #1B244A;
    opacity: 0px;
    color:white;
}

#start-btn:hover,#pause-btn:hover, #reset-btn:hover
{
    background-color: #262f5a;
}
#start-btn:active,#pause-btn:active, #reset-btn:active
{
    background-color: #1B244A;
}


.counter-buttons
{
    display: flex;
    gap: .5rem;
}

.counter-frame
{
    background-color: #080001;
    border: 2px #9AABD8 solid;
    border-radius: 5px;
    padding: 1rem;
}

.quarter-container
{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    margin-top: 1rem;
    border-radius: 5px;
    background-color: #080001;
    border: 2px #9AABD8 solid;
}
#guest-quarter-score,#home-quarter-score
{
    display: block;
    font-family: e1234;
    font-size: 30px;
    font-weight: 400;
    color: aqua;
}